<h3>予約内容確認</h3>

<dl>
  <dt>チェックイン</dt>
  <dd><%= @reservation.check_in %></dd>
  
  <dt>チェックアウト</dt>
  <dd><%= @reservation.check_out %></dd>
  
  <dt>宿泊人数</dt>
  <dd><%= @reservation.people %>人</dd>

  <dt>宿泊日数</dt>
  <dd><%= calculate_nights(@reservation.check_in, @reservation.check_out) %>日</dd>

  <dt>支払い金額</dt>
  <dd><%= @reservation.price * calculate_nights(@reservation.check_in, @reservation.check_out) * @reservation.people %>円</dd>
</dl>

<%= link_to "戻る", request.referer || root_path %>

<%= form_with model: @reservation, local: true, url: reservations_path do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :check_in, value: @reservation.check_in %>
  <%= f.hidden_field :check_out, value: @reservation.check_out %>
  <%= f.hidden_field :people, value: @reservation.people %>
  <%= f.hidden_field :nights, value: calculate_nights(@reservation.check_in, @reservation.check_out) %>
  <%= f.hidden_field :price, value: @reservation.price * calculate_nights(@reservation.check_in, @reservation.check_out) * @reservation.people %>
  
  <%= f.submit "予約を確定する", id: "btn_confirm", class: "btn btn-danger btn-block" %>
<% end %>